.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(202, 86%, 94%);
  color: hsl(202, 55%, 16%);
  padding: 1.2rem;
}

.calculator-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80rem;
  margin: 0 auto;
  border-radius: 1.6rem;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
}

/* ==================================================   */
/* Form Panel */
/* ==================================================   */
.calc-panel--form {
  height: 70%;
  background-color: hsl(0, 0%, 100%);
  padding: 3.2rem;
}

.panel-header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.panel-title {
  font-size: 2rem;
}

.clear-btn {
  border: none;
  background-color: hsl(0, 0%, 100%);
  justify-self: end;
  color: hsl(200, 24%, 40%);
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 0.2rem;
  border-bottom: 1.5px solid hsl(203, 41%, 72%);
  cursor: pointer;
}
